button {
    background-color: #000342;
    font-family: Merriweather;
}

card-img-top{
    height:100% !important;
    width: 150px !important;
}

btn-primary {
    background-color: #000342 !important;
}

btntext{
    color:white;
}
card {
    box-sizing: border-box;
}
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-color: rgba(73, 182, 231, 0.81);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

p {
    font-family: Merriweather;
}
h1 {
    font-family: Roboto;
}
h2 {
    font-family: Roboto;
}
li {
    font-family: Oswald;
}
h5{
font-family: Roboto;
}