@{
    ViewBag.Title = "About";
}
<h2>Northwest</h2>
<h3>Chemical testing</h3>

<p>The project team for this mockup, the paper, and the demonstration is
    Alisyn Wright, Maggie Jenson, Jaco Metcalf, and Mitchell Johnson</p>
