@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>

<img src="~/Content/Images/kpmg.jpg" />

<address>
    15 S Temple # 1500,<br />
    Salt Lake City,<br />
    UT 84101
</address>

<address>
    2677 E 1100 S<br />
    Springville<br />
    UT 84663
    
</address>

<address>
    Personal phone:<br />
    801-529-6200
</address>